.copyright {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__author {
  font-size: 0;
  svg {
    width: 27px;
    height: 34px;
  }
}