.map {
  background: #ffd74b;
}

.map__contact-wrapper {
  padding: 30px 0;
}

.map__addres {
  @include reset;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 70px;
  position: relative;
  &::before {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 50%;
    background: #121936;
    left: 3px;
    top: -5px;
  }
  &::after {
    content: "";
    width: 14px;
    height: 22px;
    position: absolute;
    background-image: url('../../img/contacts-location.svg');
    background-position: center;
    background-size: cover;
    left: 18px;
    top: 5px;
  }
}
.map__link {
  position: relative;
  display: block;
  padding: 24px 65px 21px 24px;
  font-size: 18px;
  font-weight: 700;
  color: #1d2e5b;
  border: 3px solid #192144;
  border-radius: 10px;
  margin-top: 30px;
}

.map__wrapper {
  iframe {
    display: block;
    width: 100%;
  }
}