.social-list {
  @include reset-list;
  display: flex;
  font-size: 0;
  justify-content: center;
}
.social-list__link {
  display: block;
  width: 45px;
  height: 45px;
  background: #ffd74b;
  border-radius: 50%;
  &--fb {
    background-image: url('../../img/facebook.svg');
    background-size: 11px 21px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--vk {
    background-image: url('../../img/vk.svg');
    background-size: 23px 12px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--inst {
    background-image: url('../../img//instagram.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
  }
}